nav{
    width: 100vw;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    font-size: 1.2rem;
    background: linear-gradient(180deg, #1cb5ee, #199FDA);
}

.name{
    color: white;
}

.nav-list{
    display: flex;
}

.nav-list li{
    padding: 1vh 0;
    list-style: none;
    display: flex;
}

.square{
    display: none;
    width: 20px;
    height: 20px;
    transition: transform .2s ease-in;
}

.line2, .line3, .line1{
    margin: 4px 0;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: White;
}

.nav-list a {
    padding: 1vh 1vw;
    color: #fff;
    text-decoration: none;
    transition: color .5s ease;
}

.nav-list a:hover {
    font-weight: 500;
    color: darkorange;
}

.home{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 5vw 10vh 5vw;
    background: linear-gradient(180deg, #1CB5ee, #000046 90%);
}

.home-img img{
    width: 30vw;
    border-radius: 50%;
}

.home-intro{
    padding-left: 5vw;
    font-size: 1.8rem;
    color: #aaa;
}

.home-intro h1{
    background: linear-gradient(180deg, red, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.home-intro p{
    margin-top: 20px;
    color: #f4f4f4;
}

.home-css-shape{
    width: 0;
    height: 0;
    border-top: 20vh solid #000046;
    border-right: 100vw solid transparent;
}

@media screen and (max-width: 768px) {
    nav{
        font-size: 1rem;
        padding: 1vh 5vw;    
    }

    .nav-list{
        margin: 4vh 0;
        padding-bottom: 10vh;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background: #199fda;
        transform: translate(200%);
        transition: transform 1s ease;
    }

    .slide{
        margin: 2.2rem auto;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background: #199FDA;
        font-size: 1.2rem;
        color: black;
        transform: translate(-5%);
    }

    .square{
        display: block;
    }
    
    .home{
        padding: 15vh 5vw;
        flex-direction: column;
    }

    .home-img img{
        margin-bottom: 3vh;
        width: 40vw;
    }

    .home-intro{
        font-size: 4vmin;
    }
} 
