*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.underline{
    margin-top: 2vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    margin-bottom: 7vh;
}

.underline div{
    width: 70px;
    height: 3px;
    background: darkorange;
}

.skills{
    position: relative;
    background-color: black;
    padding :3% 2% 7%;
  
}

 #skill_div{
    background-color: black;
    position: relative;
    width:100%;
    padding :5% 2% 12%;
}

.circlechart{
    color:white;
}

.card{
        background-color: black;
        height:100%;
        width:100%;
      
}
 .heading{
    margin: 2vh 0 0 0;
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    color:white;
    padding-top:3%;
    
} 

 .skill_text{
    position: relative;
    color:#fff;
    font-size:1.5em;
    margin: 10%;
}

.experience{
    background-image:url(../images/pexels-hasan-albari-1229861\ .jpg); 
    background-attachment:fixed;
    z-index:1;
    position: relative;
}
.exp_section{
    display:block;
      opacity:0.9;
      padding :2% 8% 5%;
        position: relative;
        z-index:0;  
}   

dl{
    text-align:left ;
    justify-content: center;
    color:white;
}

dt{
    margin-left:1%;
    font-size:1.8em;
}

dd{
    font-size:1em ;
}

.icon{
    opacity:0.9;
     font-size:1em;
}

.contact{
    background:url(../images/bg-pic.jpg);
}

.subheading{
    
    font-size:1.2em ;
    color:white;
    letter-spacing: 2px;
}

.fab{
    font-size:2em;
    color:white;
    margin:2% 2% 2% 0%;

}

.social{
    margin-left:43%;
}

.fab:hover{
    color:#e6b3e6;
}

.icon2{
    font-size:1.8em;
    color:white;
     margin-bottom:5%; 
    margin-left:36%;
}

.far{
    font-size:1.8em;
    color:white;
    margin-bottom:5%;
    margin-left:13%;
}

.title{
    font: size 0.5em;
    font-family:arial ;
    display:inline;
    margin-left:5%;
    letter-spacing: 2px;
}

.info{
    display: flex;
}

footer {
    padding: 1vh;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h3 {
    font-size:1.5em;
    letter-spacing:1px;
}
